<div ng-controller="QuestionController" ng-init="counter">

    <div ng-show="divQuestionList">
        <table class="table">
            <thead>MCQ Questions</thead>
            <tr ng-repeat="question in mcqQuestions">
                <td>{{$index + 1}}. {{question.QuestionText}}</td>
                <td ng-click="EditQuestionDiv(question.McqQuestionId)" class="btn btn-default"> Edit</td>
            </tr>
        </table>
    </div>

    <span ng-click="CreateQuestionDiv()" class="btn btn-default">
        Create Question
    </span>

    <div ui-sref="CreateQuestion" class="btn btn-default"><a href="">Create Question</a></div>

    <div data-ui-view=""></div>
</div>